language: php

php: 
  - 5.6
  - 7.0
  - 7.1

before_script:
  - curl -s http://getcomposer.org/installer | php
  - php composer.phar install --dev
  - php composer.phar dump-autoload

script: phpunit

