/*///////////////// structure ////////////////*/
.container-body
{
    margin-top: 65px;
}
.img-admin
{
    width: 150px;
    height: auto;
}
.tags
{
    padding: 0 5px;
}
.tags li
{
    /*display: inline;*/
    font-size: 16px;
    padding: 0;
    list-style: none;
}
div.paginator
{
   text-align: center;
}
.blue
{
    color: #428bca;
}
.green
{
    color:green;
}
.red
{
    color:red;
}
.margin-right-30
{
    margin-right: 30px;
}
.margin-bottom-30
{
    margin-bottom: 30px;
}
.margin-bottom-12
{
    margin-bottom: 12px;
}
.margin-left-5
{
    margin-left: 5px;
}
/*///////////////// forms ////////////////*/
.form-button
{
    cursor: pointer;
}
/*///////////////// signup form ////////////////*/
.centered-form
{
    margin-top: 60px;
}
.centered-form .panel
{
    background: rgba(255, 255, 255, 0.8);
    box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}
/*///////////////// navbar ////////////////*/
.navbar.dropdown-user a:hover
{
    text-decoration: none;
}
.navbar-top-links li a
{
    padding: 15px;
    min-height: 50px;
}